doctype html
html(ng-app='application')
    head
        title BRM
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        //link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet")
        link(rel="stylesheet", href="assets/linker/styles/bootstrap-combined.min.css")
        // need belowfor
        link(rel='stylesheet', type='text/css', href='css/jquery-ui.css')
        link(rel='stylesheet', type='text/css', href='css/angular-ui.css')
        link(rel='stylesheet', type='text/css', href='css/ng-grid.css')
        link(rel='stylesheet', type='text/css', href='css/stylesDW.css')
        link(rel='stylesheet',  href='assets/js/lib/angular-xeditable/dist/css/xeditable.css')
        link(rel='stylesheet',  href='assets/linker/styles/angular-form-ui.css')

    body
        block body
        //script(src='assets/js/lib/jquery/jquery.js')
        script(src='assets/js/lib/jquery/jquery-2.0.3.min.js')
        //script(src='assets/js/lib/jquery/jquery-migrate-1.1.0.min.js')
        //script(src='assets/js/lib/jquery/jquerymask.js')
        //script(src='assets/js/lib/jquery/jquery.layout-latest.js')
        //script(src='assets/js/lib/jquery/jquery-ui.js')
        //script(src='assets/js/lib/underscore.js')
        // 1.2.11
        //script(src='assets/js/bower_components/angular/angular.js')
        //script(src='assets/js/bower_components/angular-route/angular-route.js')
        //script(src='assets/js/bower_components/angular-resource/angular-resource.js')
        //script(src='assets/js/bower_components/angular-cookies/angular-cookies.js')
        ////1.1.15
        script(src='assets/js/lib/angular/angular115.js')
        script(src='assets/js/lib/angular/angular-cookies.js')


        script(src='assets/js/bower_components/lodash/dist/lodash.js')
        script(src='assets/js/lib/angular-bootstrap/ui-bootstrap-tpls.js')

        //script(src='/socket.io/socket.io.js')
        //script(src='assets/js/lib/transition.js')
        //script(src='assets/js/lib/moment.js')
        //script(src='assets/js/lib/angular-form-ui/src/angular-form-ui.js')
        //script(src='assets/js/lib/angular-form-ui/src/directives/busyButton/busyButton.js')


        script(src='assets/js/routingConfig.js')
        script(src='assets/linker/js/app/app.js')
        script(src='assets/linker/js/app/services/services.js')
        script(src='assets/linker/js/app/controllers/AppCtrl.js')
        script(src='assets/linker/js/app/controllers/controllers.js')
        script(src='assets/linker/js/app/filters/filters.js')
        script(src='assets/linker/js/app/directives/directives.js')
        script(src='assets/linker/js/app/controllers/ClaimCtrlMain.js')
        script(src='assets/linker/js/app/controllers/LoginCtrl.js')



        //script(src='assets/js/lib/angular/angular-table.js')
                 script(src='assets/js/lib/angular-xeditable/dist/js/xeditable.js')

        //script(src='assets/linker/js/app/controllers/ClaimCtrlEdit.js')
